
@using KendoUIMVC5.Repositories;
@model KendoUIMVC5.Models.Person

@{
    var list = new DesignationRepositories().GetDesignation();
    var itemList = list.Select(i => new SelectListItem { Value = i.ID.ToString(), Text = i.Name }).ToList();
}
<h3>Customized Person edit template</h3>
<br />

<script>

    function onDataBound() {
        var dropdownlist = $("#Designations").data("kendoDropDownList");
        dropdownlist.value($("#Designation").val());
    }


   function onSelect(e) {

       var dataItem = this.dataItem(e.item);
       console.log(dataItem);
       $("#EmployeeId").val(dataItem.Id);

    }

   function filterProducts() {

                return {
                    DesignationId: $("#Designation").val()
                };
            }
</script>

@Html.HiddenFor(model => model.PersonID)
<div>
    @(Html.Kendo().DropDownListFor(model => model.Designation)
        .Name("Designation")
          .DataTextField("Name")
          .DataValueField("ID")
          
          .BindTo(list)
         // .Events(e => e.DataBound("onDataBound").Select("onSelect"))
          .HtmlAttributes(new { style = "width: 100%" })
    )
</div>

<h4 style="margin-top: 2em;">Employees:</h4>
@(Html.Kendo().DropDownListFor(model => model.EmployeeId)
              .Name("Employees")
              .HtmlAttributes(new { style = "width:100%" })
              .OptionLabel("Select Employees...")
              .DataTextField("Name")
              .DataValueField("Id")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetEmployees", "Home")
                          .Data("filterProducts");
                  })
                  .ServerFiltering(true);
              })
              .Events(e => e.Select("onSelect"))
              .Enable(false)
              .AutoBind(false)
              .CascadeFrom("Designation")
)


<div>
    @Html.LabelFor(model => model.Name)
</div>
<div>
    @Html.EditorFor(model => model.Name)
    @Html.EditorFor(model => model.EmployeeId , new { id = "hidEmpId" })
    @Html.ValidationMessageFor(model => model.Name)
</div>
<div>
    @Html.LabelFor(model => model.BirthDate)
</div>
<div>
    @Html.Kendo().DateTimePickerFor(model => model.BirthDate)
    @Html.ValidationMessageFor(model => model.BirthDate)
</div>
<br />

